.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-heading {
    margin: 0;
    color: #333; 
    margin-right: 15px;
}

.navbar-links ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.navbar-links li {
    margin-left: 15px;
}

.navbar-link {
    text-decoration: none;
    color: #333; 
    font-weight: bold;
}