body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
    margin: 13px; /* Ajusta el espacio alrededor de la cuadrícula */
  }

  .hometitle {
    text-align: left;
  }
  
  .dashboard-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 40px; /* Ajusta el padding para hacerlo un poco más grande */
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

    .dashboard-item img {
        max-width: 70%;
        height: auto;
        }

    .item-title,
    .description-item{
        color: black; 
        margin-bottom: 10px; 
        }


    .button-container {
        margin-top: 20px;
        }