/* Tu CSS existente */

.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto; /* Ajusta el tamaño vertical de las filas según sea necesario */
  grid-gap: 35px;
  margin: 5px;
}

.hometitle {
  text-align: left;
  color: black;
  margin-top: 10px;
  margin-bottom: 50px;
}

.dashboard-item {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 50px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.dashboard-item img {
  max-width: 50%;
  height: auto;
}

.item-title,
.description-item {
  color: black;
  margin-bottom: 10px;
}

.button-container {
  margin-top: 20px;
  text-align: center;
}
