.landing-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  text-align: left;
  height: 90vh;
  padding: 2rem;
}

.landing-container__main {
  width: 40%;
  > a {
    color: white;
    > button {
      margin-top: 20px;
      border-radius: 20px;
      background-color: #5B9BF3;
    }
  }
}

.landing-container__title {
  font-size: 40px !important;
  font-weight: bold !important;
}

.landing-container__image {
  height: 450px;
  width: auto;
}
